<network connections='1'>
  <name>{{ item.name }}</name>
  <forward mode='{{ item.mode }}'/>
  {% if item.bridge is defined %}
  <bridge name='{{ item.bridge }}'/>
  {% endif %}
  {% if item.mac is defined %}
  <mac address='{{ item.mac }}'/>
  {% endif %}
  {% if item.ip is defined %}
  <ip address='{{ item.ip.address }}' netmask='{{ item.ip.netmask }}'>
    {% if item.ip.dhcp is defined %}
    <dhcp>
      {% if item.ip.dhcp.range is defined %}
      <range start='{{ item.ip.dhcp.range.start }}' end='{{ item.ip.dhcp.range.end }}'/>
      {% endif %}
      {% if item.ip.dhcp.hosts is defined %}
      {%  for host in item.ip.dhcp.hosts %}
      <host mac='{{ host.mac }}' name='{{ host.name }}' ip='{{ host.ip }}' />
      {%  endfor %}
      {% endif %}
    </dhcp>
    {% endif %}
  </ip>
  {% endif %}
</network>
